:root {
    --heading-background-color: #f06;
    --heading-text-color: #333;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --nav-background-color: darkblue;
    --nav-link-color: white;
    --padding: 1rem;
    --border: 1px solid rgba(0, 0, 0, 0.1);
    --aside-width: 20em;
    --aside-background-color: #eee;
    --main-img-border-color: steelblue;
    --box-shadow-color: gray;
    --default-padding: 10px;
}

/* Navigation styles */
nav {
    background-color: var(--nav-background-color);
    padding: var(--default-padding);
}

nav a {
    color: var(--nav-link-color);
    display: block;
    padding: 20px;
}

/* Heading styles */
h1 {
    color: var(--nav-background-color);
}

/* Paragraph styles */
p {
    padding: 0;
}

/* Aside styles */
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

/* Added missing closing curly brace */

/* Footer styles */
footer {
    margin-top: 15px;
    border-top: 1px solid #000000    ;
    text-align: center;
}

/* Main image styles */
main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--main-img-border-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--box-shadow-color);
}